@import 'tailwindcss';
@import './_tokens.scss';
@import './base.scss';

@theme inline {
  --color-canvas: var(--canvas);
  --color-primary: var(--primary);
  --color-accent: #595959;
  --color-accent-light: #a8a8a8;
  --color-muted: var(--muted);
  --font-display: var(--display-font);
  --font-sans: var(--body-font);
}
